body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.small-field {
    width: 100px !important;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.smaller-field {
    width: 40px !important;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.cache-field {
    width: 100px !important;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
}

.bracket-notation {
    font-size: 120%;
}

pre {
    font-family: Menlo, Monaco, monospace;
    background-color: #333;
    padding: 8px;
    color: #CCC;
    border-radius: 3px;
    word-break: break-word;
}